<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Home page</title>
    <style>
        .text-container p {margin-bottom: 4%;}
    </style>
</head>
<body>
    <header>
        <div style="font-weight: bold; font-size: 25px; padding-left: 20%;">InternHub</div>
        <nav>
            <a class="current" href="Index.html">Home</a>
            <a href="login.html">Login</a>
            <a href="sign-up.html">Sign-up</a>
            <a href="about-us.html">About Us</a>
        </nav>
    </header>
    <main>
        <section class="top-section">
            <div class="text-container">
                <h1>For Studnets</h1>
                <p>Browse internships and training matched to your skills and completed subjects—fast and simple.</p>
                <a class="btn primary" href="signup.html">Get Started</a>
            </div>
            <div class="text-container">
                <h1>For Companies</h1>
                <p>Post internships in minutes and reach qualified students who match your required skills.</p>
                <a class="btn outline" href="company-signup.html">List your company</a>
            </div>
        </section>

        


        <section>

        </section>
    </main>

    <footer>
        <div style="font-weight: bold; font-size: 20px; padding-left: 20%;">InternHub</div>
        <div>
            <p>Contact us</p>
        </div>
    </footer>


</body>
</html>