<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>
      Sign-up
    </title>
</head>
<body>
    <h1>Sign-up</h1>
<form method="post" action = "#">
    <input type = "hidden" name = "recevie" value = "manonnom07@gmail.com">
    <input type = "hidden" name = "subject" value = "User sign-up">
    <input type = "hidden" name = "mainSource" value = "Main.html">
<label>
     First name:
    <input type = "text" placeholder="Enter your first name"> <br>
<label>
     Last name:
    <input type = "text" placeholder="Enter your last name here">  <br>
</label> 
    <label>
        Password:
    <input type = "password" placeholder="Enter your password"> </label> <br>
    
    <label> 
        E-Mail:
        <input type="email" placeholder="Yourname@example.com"> </label> <br> 
<p>
        <input type="submit" value ="Sign-up">
        <input type="reset" value ="clear">
</p>
</form>
</body>
</html>